

<%=render "shared/navbar" %>

<!-- Title Page -->
	<section class="bg-title-page p-t-40 p-b-50 flex-col-c-m" style="background-image: url(http://www.yenimahalleveteriner.com/uploads/images/ust2.jpg);">
		<h2 class="l-text2 t-center">
			a propos
		</h2>
	</section>

	<!-- content page -->
	<section class="bgwhite p-t-66 p-b-38">
		<div class="container">
			<div class="row">
				<div class="col-md-4 p-b-30">
					<div class="hov-img-zoom">
						<img src="https://cdn.pixabay.com/photo/2014/07/31/22/50/photographer-407068_960_720.jpg" alt="IMG-ABOUT">
					</div>
				</div>

				<div class="col-md-8 p-b-30">
					<h3 class="m-text26 p-t-15 p-b-16">
						Notre histoire
					</h3>

					<p class="p-b-28">
						L’ère numérique a bien changé des choses dans le domaine de la photographie. S’il a fallu autrefois, dépenser des heures pour le développement des films argentiques, maintenant, c’est plus facile de développer des photos numériques. D’une manière générale, il existe actuellement trois façons de développer les photos : les centres de développement photos, les téléchargements et impressions des photos en ligne, l’impression à domicile
					</p>

					<div class="bo13 p-l-29 m-l-9 p-b-10">
						<p class="p-b-11">
							« Une image vaut mieux que mille mots. »

						<span class="s-text7">
							- Confucius -
						</span>
					</div>
				</div>
			</div>
		</div>
	</section>









<%=render "shared/footer" %>
