<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
    </head>
	
    <body>
	    <img src="<%= @item.image_url %>">
	    </br>
	    <%= @item.title %>
	    </br>
	    <%=  @item.description %>
	    </br>
	    <%= @item.price %> $

	   <% if current_user %>
		   <button type="button">Click Me!</button>
		<% end %>
    </body>
</html>
