
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>

  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="https://www.kittycatter.com/wp-content/uploads/2018/06/cat-names.jpg">
        <div class="container">
              <div class="carousel-caption text-center">
         
                <br>
                
              </div>
        </div>
    </div>



    <div class="carousel-item">
      <img class="d-block w-100" src="https://res.cloudinary.com/mmlafleur/image/upload/ar_3:1,c_fill,dpr_3.0,f_auto,fl_progressive,g_auto,q_auto,w_500/v1/mmlafleur.com/wp-content/uploads/2018/03/MMLF-Yanruan-Cookie-In-Morandi-Site-Banner.jpg" alt="Second slide">

      <div class="container">
              <div class="carousel-caption text-center">
             
                <br>
               
              </div>
        </div>
    </div>

    <div class="carousel-item">
      <img class="d-block w-100" src="https://www.kittycatter.com/wp-content/uploads/2018/06/orange-cat-names.jpg" alt="Third slide">
    </div>
    <div class="container">
              <div class="carousel-caption text-center">
                <h1> <b> Achetez les plus belles photos de chat !</b> </h1>
                <br>
                <p><a class="btn btn-lg btn-light" href="#" role="button"> <b>Découvrir<b></a></p>
              </div>
        </div>
  </div>
    
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>