.ensemble-page-1{
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.row1{
	margin-left: 35%;
	width: 75%;
}

.card11{
	width: 50%;
    
}

.container-img{
	width: 100%;
}

.text-head{
	margin-left: 10%;
}

.title2ouf{
	margin-left: -70%;
	margin-top: 40%;
}